<br><br><br>
<div class="container section">
  
  <h3>Log In</h3>
  <div class="divider"></div>
  <br><br>
  
  <div class="section">
    <div class="center">
      <%= link_to "/auth/facebook", id: "sign_in" do %>
      <%= image_tag  "facebook_login_button.png", class:"login_button" %>
      <% end %>
    </div>
    <div class="center">
      <%= link_to "/auth/google_oauth2", id: "sign_in" do %>
      <%= image_tag  "google_login_button.png", class:"login_button" %>
      <% end %> 
    </div>
    <div class="center">
        <p>broken v</p>
        <%= link_to "/auth/Amazon", id: "sign_in" do %>
      <%= image_tag  "amazon_button.png", class:"login_button" %>
      <% end %>
    </div>
    <div class="center">
      <%= link_to "/auth/medium", id: "sign_in" do %>
      <%= image_tag  "medium_login_button.png", class:"login_button" %>
      <% end %>
    </div>
  </div>
  
  <br><br>
  <div class="divider"></div>
  <br><br>


</div>