<div class="container">

  <h3>Log In</h3>
  <div class="divider"></div>
  <br><br>

  <li><%= link_to "Facebook", "/auth/facebook", id: "sign_in" %></li>
  <li><%= link_to "google", "/auth/google_oauth2", id: "sign_in" %></li>
  
  <div class="divider"></div>
  <br><br>

  <div class="section">
    <%= form_tag sessions_path do %>

      <!-- form -->
      <div class="control-group">
        <%= label_tag :email %>
        <div class="controls">
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      
      <div class="waves-effect waves-light btn left"><%= link_to "New User", new_user_path %></div>
      <div class="waves-effect waves-light btn right"><%= submit_tag "Log In" %></div>
    <% end %>
  </div>
</div>