<div class="row">
	<div class="col l6 s12">
		<h5>Writer.pub</h5>
		<p>insert footer content here.</p>
	</div>
	<div class="col l4 offset-l2 s12">
		<ul>
		<li><%= link_to 'Home', home_path %></li>
		<li><%= link_to 'About Writer.pub', about_path %></li>
		<li><%= link_to 'Contact Us', contact_path %></li>
		<li><%= link_to 'Privacy Policy', privacy_path %></li>
		</ul>
	</div>
</div>
</div>
<div class="footer-copyright">
	<div class="container">
		Webmaster: <%= mail_to("jbfields@andrew.cmu.edu", "Juliann Fields", encode: "javascript") %>&nbsp;&copy 2017
	</div>
</div>	