<%= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
<!-- error handling -->
<% if @project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
  <ul>
    <% @project.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="tabs-vertical">
    <div class="col s4 m3 l2">
      <ul class="tabs">
        <li class="tab">
          <a href="#Basics" class="active">BASICS</a>
        </li>
        <li class="tab">
          <a href="#Members">MEMBERS</a>
        </li>
        <li class="tab">
          <a href="#Settings">SETTINGS</a>
        </li>
      </ul>
    </div>
    
    <div class="col s8 m9 l6">
      <form class="col s12">
        <!-- BASICS TAB -->
        <div id="Basics" class="tab-content">
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.input :title, :params => :title %>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.input :category, :params => :category %>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.input :genre, :params => :genre %>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.input :proj_description, class:"materialize-textarea", :'data-length' => 200 %>
            </div>
          </div>
          
          <div class="form-actions row">
            <div class="waves-effect waves-light btn right">  
              <a onclick="
                          $(document).ready(function(){
                            $('ul.tabs').tabs('select_tab', 'Members');
                          });">
                NEXT
              </a>
            </div>
            <div class="waves-effect waves-light btn left">
              <%= link_to 'Back', home_path %>
            </div>
          </div>
        </div>
        
        <!-- MEMBERSS TAB -->
        <div id="Members" class="tab-content">
          <div class="waves-effect waves-light btn right">  
            <a onclick="
                        $(document).ready(function(){
                          $('ul.tabs').tabs('select_tab', 'Settings');
                        });">
              SKIP
            </a>
          </div>
          <div class="waves-effect waves-light btn left">  
            <a onclick="
                        $(document).ready(function(){
                          $('ul.tabs').tabs('select_tab', 'Basics');
                        });">
              BACK
            </a>
          </div>
        </div>
        
        <!-- SETTINGS TAB -->
        <div id="Settings" class="tab-content">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <%= f.input :preview_level %>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <%= f.input :status %>
              </div>
            </div>
            
            <div class="form-actions row">
              <div class="waves-effect waves-light btn right">  
                <%= f.submit nil %>
              </div>
              <div class="waves-effect waves-light btn left">
                <a onclick="
                          $(document).ready(function(){
                            $('ul.tabs').tabs('select_tab', 'Basics');
                          });">
                  BACK
                </a>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>

<% end %>