<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<div class="section">
  <h4>All Available</h4>
  
  <div class="divider"></div>
  
  <div class="section row center-align">
    <% @all_projects.each do |project| %>    
      <div class="col s4 m4 l3">
        <div class="card small">
          <div class="card-image">
            <%= image_tag  "reading.jpg" %>
            <span class="card-title"><%= link_to project.title, project, class: "white-text" %></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">bookmark_border</i></a>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4"><%= link_to project.category, project %></span>                    
            <span class="card-title grey-text text-darken-4"><%= link_to project.genre, project %></span>                    
            <p><%= link_to project.proj_description, project, class: "left-align" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Create Something New!', new_project_path, class: "center green accent-1 btn" %>
